{% extends "layout.html"%}

{% block content %}
  <form id="stockInput" method="POST" action="/home">
    Stock Symbol: <input type="text" name="symbol">
    <input type="submit" name="Find" value="Submit">
  </form>
  {% if stocks %}
    {% for info in stocks%}
      <form action="/remove" method="post">
        <p class="stocks">
        {{info.symbol}}- Price: ${{info.price}} | Change:<span> ${{info.change}} </span>
        <button class="removeButton" type="submit" name="Remove" value="{{ info.symbol }}"> Remove </button>
        </p>
      </form>
    {% endfor %}
  {% endif %}
  {% if stocks|length > 0 %}
    <form id="refreshButton" action="/refresh" method="post">
      <button type="submit" name="Refresh" value="refresh"> Refresh </button>
    </form>
  {% endif %}
  {% endblock %}
